{% load staticfiles %}
<!DOCTYPE html>
<html lang="en " xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Вихідні дні</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>

     <nav class="navbar navbar-default">
        <div class="container">

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><h2>Помічник учителя</h2></li>
                </ul>

            </div>
        </div>
     </nav>

     <nav class="navbar-default">

        <ul class="nav navbar-nav">
            <li><a href=".."><i class="glyphicon glyphicon-home" aria-hidden="true"></i></a></li>
            <li><a href="../journal_edit"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a></li>
            <li><h2>Журнал успішності учнів класу</h2></li>
        </ul>
     </nav>


     <table class="table table-bordered">
     {% for d in jor %}
         <tr>
         {% for dd in d %}
            {% if dd|length >= 1 %}
                {% if forloop.counter == 1 or forloop.counter == 2 %}
                    <td class="text-nowrap">{{ dd }}</td>
                {% else %}
                    {% if dd|slice:"3:"|cut:" "|length > 0 %}
                        <td class="text-nowrap" title="{{ dd|slice:"1:" }}" bgcolor="#F5F5F1" align="center">{{ dd|slice:"1" }}</td>
                    {% else %}
                        <td class="text-nowrap" align="center">{{ dd|slice:"2" }}</td>
                    {% endif %}
                {% endif %}
            {% else %}
                <td  class="text-nowrap">{{ dd|date:"d" }}<br>{{ dd|date:"m" }}</td>
            {% endif %}
         {% endfor %}
     {% endfor %}
     </tr>

     </table>


</body>
<script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script src="{% static 'js/article.js' %}"></script>

</html>