{% load staticfiles %}
<!DOCTYPE html>
<html lang="en " xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Вихідні дні</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

     <nav class="navbar navbar-default">
        <div class="container">

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><h2>Помічник учителя</h2></li>
                </ul>

            </div>
        </div>
    </nav>

     <nav class="navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="../journal"><i class="glyphicon glyphicon-home" aria-hidden="true"></i></a></li>
            <li><h2>Редагування журналу успішності учнів класу</h2></li>
        </ul>

     </nav>

    <form method="POST" action="">
        {% csrf_token %}
        <button class="btn-primary margin-for-btn" type="submit">Зберегти зміни</button>


        <table class="table table-bordered">
        {% for d in beg %}
            {% for dd in d %}
                <input type="hidden" name="be-{{ dd|slice:"2:5"|cut:" " }}-{{ dd|slice:"5:"|cut:" " }}" style="width: 30px; text-align: center" maxlength=2 size="4" value="{{ dd|slice:"2" }}">
            {% endfor %}
        {% endfor %}

        {% for d in jor %}
            <tr>
            {% for dd in d %}
                {% if dd|length >= 1 %}
                    {% if forloop.counter == 1 or forloop.counter == 2 %}
                        <td class="text-nowrap">{{ dd }}</td>
                    {% else %}
                        <td class="text-nowrap">
                            <input type="text" name="oc-{{ dd|slice:"2:5"|cut:" " }}-{{ dd|slice:"5:"|cut:" " }}" style="width: 30px; text-align: center" maxlength=2 size="4" value="{{ dd|slice:"2" }}">
                            <!img src="{% static 'image/punktg.jpg' %}">
                        </td>
                    {% endif %}
                {% else %}
                    <td  class="text-nowrap">{{ dd|date:"d" }}<br>{{ dd|date:"m" }}</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
         </tr>


         </table>
    </form>


</body>
<script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script src="{% static 'js/article.js' %}"></script>

</html>